// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.conteiner-form{
    width: 600px;
    margin: 0 auto;
    padding-top: 80px;
}

.conteiner-table{
    margin: 0 auto;
    padding-top: 50px;
}

.table{
    border: 1px solid #c7c7c7;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.btn-trash{
    background: transparent !important;
    border: none !important;
}